@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* vars for dracula theme */
    --darkestGray: #282a36;
    --darkestGray08: rgba(40, 42, 54, 0.8);
    --darkGray: #44475a;
    --darkGray08: rgba(68, 71, 90, 0.8);
    --lightest: #f8f8f2;
    --lightest08: rgba(248, 248, 242, 0.8);
    --mediumBlue: #6272a4;
    --mediumBlue08: rgba(98, 114, 164, 0.8);
    --cyan: #8be9fd;
    --cyan08: rgba(139, 233, 253, 0.8);
    --green: #50fa7b;
    --green08: rgba(80, 250, 123, 0.8);
    --orange: #ffb86c;
    --orange08: rgba(255, 184, 108, 0.8);
    --pink: #ff79c6;
    --pink08: rgba(255, 121, 198, 0.8);
    --purple: #bd93f9;
    --purple08: rgba(189, 147, 249, 0.8);
    --red: #ff5555;
    --red08: rgba(255, 85, 85, 0.8);
    --yellow: #f1fa8c;
    --yellow08: rgba(241, 250, 140, 0.8);
}

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

select,
input {
    padding: 0.1rem 0.6rem;
    width: 250px;
    border-radius: 0.5rem;
    border: 1px solid cyan;
    background-color: #222429 !important;
    color: #fff;
    font-weight: bold;
}

/* Styling for the arrow on the selection element */
select {
    -webkit-appearance: none;
    /* Safari and Chrome */
    -moz-appearance: none;
    /* Firefox */
    appearance: none;
    padding-right: 30px !important;
    /* Add some padding to make space for a custom arrow icon */
    background: url('arrowdown.png') no-repeat right center;
    /* Replace 'custom-arrow.png' with your custom arrow icon */
}


.select-container,
.input-container {
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
}


@media (min-width: 1080px) {

    select,
    input {
        padding: 0.3rem 0.6rem;
    }
}

/* For Chrome and Safari */
::-webkit-scrollbar {
    width: 4px;
    /* You can adjust the width */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* You can set the track background */
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    /* You can set the thumb color and opacity */
}

/* For Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    /* You can set the thumb color and opacity, and track color */
}

/* For Internet Explorer */
body {
    -ms-overflow-style: none;
    /* This disables the default scrollbar styling */
}

body::-webkit-scrollbar {
    width: 4px;
    /* You can adjust the width */
}