@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* vars for dracula theme */
	--ultraDark: #1a1c24;
	--ultraDark08: rgba(26, 28, 36, 0.8);
	--darkestGray: #282a36;
	--darkestGray08: rgba(40, 42, 54, 0.8);
	--darkGray: #44475a;
	--darkGray08: rgba(68, 71, 90, 0.95);
	--lightest: #f8f8f2;
	--lightest08: rgba(248, 248, 242, 0.8);
	--mediumBlue: #008b8b;
	--mediumBlue08: rgba(0, 139, 139, 0.9);
	--cyan: cyan;
	--cyan08: rgba(0, 255, 255, 0.8);
	--lightCyan: #78ffef;
	--lightCyan08: rgba(120, 255, 239, 0.8);
	--purple: #6c48ff;
	--purple08: rgba(108, 72, 255, 0.8);
	--pink: #bd27ff;
	--pink08: rgba(189, 39, 255, 0.8);
	--lightPink: #cfb0ff;
	--lightPink08: rgba(207, 176, 255, 0.8);
}

html {
	/* font-family: 'Quicksand', sans-serif; */
	font-family: 'M PLUS 1p', sans-serif;
	font-size: 1rem;
	overflow-x: hidden;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

select,
input[type='text'] {
	padding: 0.25rem 1rem;
	width: 200px;
	border-radius: 0.5rem;
	border: 1px solid cyan;
	background-color: #222429 !important;
	color: #fff;
	font-weight: bold;
}

/* Hide the default radio button */
input[type="radio"] {
	appearance: none;
	position: relative;
}

/* Create a custom radio button appearance */
input[type="radio"]+label:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid cyan;
	border-radius: 50%;
	margin-right: 8px;
}

/* Style for the selected state */
input[type="radio"]:checked+label:before {
	background-color: cyan;
	border: 2px solid cyan;
	
}

input[type='text']:focus {
	outline: none;
	border-color: var(--mediumBlue);
	box-shadow: 1px 1px 1px var(--mediumBlue);
}


/* Styling for the arrow on the selection element */
select {
	-webkit-appearance: none;
	/* Safari and Chrome */
	-moz-appearance: none;
	/* Firefox */
	appearance: none;
	padding-right: 30px !important;
	/* Add some padding to make space for a custom arrow icon */
	background: url('/arrowdown2.png') no-repeat right center;
	/* Replace 'custom-arrow.png' with your custom arrow icon */
}

.select-container,
.input-container {
	display: flex;
	align-items: center;
	font-size: 1rem;
	justify-content: center;
}

@media (min-width: 768px) {
	input[type='text'] {
		width: 300px;
	}
}

@media (min-width: 1080px) {
	select,
	input {
		padding: 0.3rem 0.6rem;
	}
}

/* For Chrome and Safari */
::-webkit-scrollbar {
	width: 1px;
	/* You can adjust the width */
}

::-webkit-scrollbar-track {
	background: transparent;
	/* You can set the track background */
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
	/* You can set the thumb color and opacity */
}

/* For Firefox */
body {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
	/* You can set the thumb color and opacity, and track color */
}

/* For Internet Explorer */
body {
	-ms-overflow-style: none;
	/* This disables the default scrollbar styling */
}

body::-webkit-scrollbar {
	width: 2px;
	/* You can adjust the width */
}

.button-styles {
	background-color: var(--cyan);
	color: var(--darkestGray);
	border-radius: 0.5rem;
	padding: 0.15rem 1rem;
	font-weight: bold;
	font-size: 1.1rem;
	border: 1px solid;
}

.button-styles:hover {
	background-color: var(--lightPink);
	transition: all 0.3s ease-in-out;
}

.header-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 65px;
	background-color: var(--ultraDark08);
	position: fixed;
	top: 0;
	gap: 15px;
	padding-left: 10px;
	z-index: 200;
}

.logo {
	width: 125px;
}

.logo:hover {
	cursor: pointer;
	transform: scale(1.05) translateY(2px);
	transition: all 0.3s ease-in-out;
}

.header-links-container {
	flex: 1;
}

.header-links {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
	gap: 5px;
	padding-right: 5px;
}

.header-link {
	width: 80px;
	padding: 0.15rem 0.5rem;
	background-color: #313442;
	border-radius: 5px;
	color: var(--cyan);
	font-weight: 500;
	text-align: center;
	box-shadow: 2px -3px 8px rgba(0, 0, 0, 0.9);
}

.header-link.active,
.header-link:hover {
	color: var(--darkestGray);
	background-color: var(--lightPink);
	transform: scale(1.07) translateY(2px);
	transition: all 0.3s ease-in-out;
}

.header-link-active {
	color: var(--darkestGray);
	background-color: var(--lightPink);
}

@media (min-width: 600px) {
	.logo {
		width: 175px;
	}

	.header-links {
		justify-content: center;
		gap: 15px;
	}

	.header-link {
		width: 110px;
	}
}

@media (min-width: 800px) {
	.header-container {
		gap: 30px;
	}

	.logo {
		width: 200px;
	}

	.header-links {
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		align-items: center;
		font-size: 1.2rem;
		padding-right: 20px;
	}

	.header-link {
		width: fit-content;
		padding: 0.5rem 0.5rem;
	}
}

@media (min-width: 1080px) {
	.header-links {
		gap: 60px;
		padding-right: 60px;
	}
}

@media (min-width: 1300px) {
	.header-links {
		gap: 100px;
		padding-right: 100px;
	}
}

.page-header-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	background-color: var(--ultraDark08);
	position: fixed;
	top: 65px;
	gap: 15px;
	z-index: 200;
	font-weight: 500;
}

.page-header-container h1 {
	font-size: 1.5rem;
}

.page-container-header p {
	font-size: 1rem;
}

.input-and-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

@media (min-width: 768px) {
	.page-header-container,
	.input-and-button {
		gap: 30px;
	}

	.page-header-container p {
		font-size: 1.2rem;
	}

	input {
		padding: 0.35rem 1rem;
	}

	.button-styles {
		padding: 0.25rem 1rem;
	}
}

@media (min-width: 1080px) {
	.page-header-container p {
		font-size: 1.5rem;
	}

	.page-header-container h1 {
		font-size: 2rem;
	}
}

@media (min-width: 800px) {
	.logo-header-link {
		width: 125px;
	}
}

@media (min-width: 1300px) {
	.logo-header-link {
		width: 150px;
	}
}

